@tailwind base;
@tailwind components;
@tailwind utilities;

/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
    :root {
        --fs-sm: clamp(12.8px, 0.08vi + 12.48px, 13.5px);
        --fs-base: clamp(16px, 0.23vi + 15.09px, 18px);
        --fs-md: clamp(20px, 0.45vi + 18.18px, 23.99px);
        --fs-lg: clamp(25px, 0.79vi + 21.83px, 31.98px);
        --fs-xl: clamp(31.25px, 1.29vi + 26.08px, 42.63px);
        --fs-xxl: clamp(39.06px, 2.02vi + 30.99px, 56.83px);
        --fs-xxxl: clamp(48.83px, 3.06vi + 36.59px, 75.76px);
    }
}
/* For browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
    :root {
        --fs-sm: 12.8px;
        --fs-base: 16px;
        --fs-md: 20px;
        --fs-lg: 25px;
        --fs-xl: 31.25px;
        --fs-xxl: 39.06px;
        --fs-xxxl: 48.83px;
    }
    @media screen and (min-width: 1280px) {
        :root {
            --fs-sm: 13.5px;
            --fs-base: 18px;
            --fs-md: 23.99px;
            --fs-lg: 31.98px;
            --fs-xl: 42.63px;
            --fs-xxl: 56.83px;
            --fs-xxxl: 75.76px;
        }
    }
}

body {
    @apply bg-csBlack text-csWhite font-inter;
}

body::-webkit-scrollbar {
    background-color: transparent;
    width: 7.5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #fff;
}

fieldset {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
}

label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

input {
    width: 100%;
    padding: 16px;
    background: transparent;
    border-bottom: 2px solid rgba(242, 242, 242, 0.1);
    color: rgb(242, 242, 242);
}

textarea {
    resize: none;
    min-height: 100px;
    padding: 16px;
    background: transparent;
    border: 2px solid rgba(242, 242, 242, 0.1);
    color: rgb(242, 242, 242);
}

@layer components {
    .customPadding {
        @apply px-3 sm:px-7 md:px-9 lg:px-11 xl:px-14 2xl:px-16;
    }

    #challengeList::-webkit-scrollbar {
        background-color: transparent;
        width: 5px;
    }

    #challengeList::-webkit-scrollbar-thumb {
        background-color: rgba(242, 242, 242, 0.5);
        border-radius: 50px;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
