/* font-family: "Poppins", sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Sacramento", cursive; */
/* font-family: "Raleway", sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
    :root {
        --fs-sm: clamp(0.8rem, 0.07vi + 0.78rem, 0.84rem);
        --fs-base: clamp(1rem, 0.19vi + 0.95rem, 1.13rem);
        --fs-md: clamp(1.25rem, 0.38vi + 1.15rem, 1.5rem);
        --fs-lg: clamp(1.56rem, 0.67vi + 1.39rem, 2rem);
        --fs-xl: clamp(1.95rem, 1.09vi + 1.68rem, 2.66rem);
        --fs-xxl: clamp(2.44rem, 1.71vi + 2.01rem, 3.55rem);
        --fs-xxxl: clamp(3.05rem, 2.59vi + 2.4rem, 4.73rem);
    }
}
/* For browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
    :root {
        --fs-sm: 0.8rem;
        --fs-base: 1rem;
        --fs-md: 1.25rem;
        --fs-lg: 1.56rem;
        --fs-xl: 1.95rem;
        --fs-xxl: 2.44rem;
        --fs-xxxl: 3.05rem;
    }
    @media screen and (min-width: 1440px) {
        :root {
            --fs-sm: 0.84rem;
            --fs-base: 1.13rem;
            --fs-md: 1.5rem;
            --fs-lg: 2rem;
            --fs-xl: 2.66rem;
            --fs-xxl: 3.55rem;
            --fs-xxxl: 4.73rem;
        }
    }
}

* {
    @apply p-0 m-0 box-border;
}

body {
    @apply bg-base-black text-base-white font-Poppins text-base;
}

header,
main,
footer {
    @apply p-2 sm:p-5 md:p-8 lg:p-10;
}
